<?xml version="1.0" encoding="iso-8859-1"?>
<Configuration status="WARN">
    <Properties>
        <Property name="logDir">${sys:user.home}/.qilletni/logs</Property>
    </Properties>

    <Appenders>
        <!-- Standard Output (Info & Debug Logs) - Only shown in verbose mode -->
        <Console name="ConsoleOut" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false">
                <Pattern>[%d{HH:mm:ss}] [%t/%highlight{%p}]: %msg%n%throwable</Pattern>
            </PatternLayout>
        </Console>

        <!-- File appender with rotation -->
        <RollingFile name="RollingFile"
                     fileName="${logDir}/toolchain.log"
                     filePattern="${logDir}/toolchain-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <Pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%t/%p] %c{1}: %msg%n%throwable</Pattern>
            </PatternLayout>
            <Policies>
                <!-- Roll over daily -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <!-- Roll over when file reaches 10MB -->
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <!-- Keep up to 7 days of logs -->
            <DefaultRolloverStrategy max="7">
                <Delete basePath="${logDir}" maxDepth="1">
                    <IfFileName glob="toolchain-*.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- Standard Error (Warnings & Errors) -->
<!--        <Console name="ConsoleErr" target="SYSTEM_ERR">-->
<!--            <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>-->
<!--            <PatternLayout disableAnsi="false">-->
<!--                <Pattern>[%d{HH:mm:ss}] [%t/%highlight{%p}]: %msg%n%throwable</Pattern>-->
<!--            </PatternLayout>-->
<!--        </Console>-->
    </Appenders>
    <Loggers>
        <Logger name="org.hibernate" level="warn" additivity="false">
            <AppenderRef ref="ConsoleOut" level="${sys:VERBOSE:-ERROR}"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="dev.qilletni.lang.internal.BackgroundTaskExecutor" level="${sys:LANG_INTERNAL_LOG_LEVEL:-INFO}" additivity="false">
            <AppenderRef ref="ConsoleOut" level="${sys:VERBOSE:-ERROR}"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="dev.qilletni.lang.internal" level="${sys:LANG_INTERNAL_LOG_LEVEL:-INFO}" additivity="false">
            <AppenderRef ref="ConsoleOut" level="${sys:VERBOSE:-ERROR}"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="dev.qilletni.impl" level="${sys:QL_LOG_LEVEL:-INFO}" additivity="false">
            <AppenderRef ref="ConsoleOut" level="${sys:VERBOSE:-ERROR}"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="dev.qilletni.impl.lib" level="${sys:QL_LIB_LOG_LEVEL:-INFO}" additivity="false">
            <AppenderRef ref="ConsoleOut" level="${sys:VERBOSE:-ERROR}"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="dev.qilletni.lib.spotify" level="${sys:QL_LOG_LEVEL:-INFO}" additivity="false">
            <AppenderRef ref="ConsoleOut" level="${sys:VERBOSE:-ERROR}"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="dev.qilletni.lib.tidal" level="${sys:QL_LOG_LEVEL:-INFO}" additivity="false">
            <AppenderRef ref="ConsoleOut" level="${sys:VERBOSE:-ERROR}"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="dev.qilletni.lib.core" level="${sys:QL_LOG_LEVEL:-INFO}" additivity="false">
            <AppenderRef ref="ConsoleOut" level="${sys:VERBOSE:-ERROR}"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="dev.qilletni.toolchain" level="${sys:TOOLCHAIN_LOG_LEVEL:-INFO}" additivity="false">
            <AppenderRef ref="ConsoleOut" level="${sys:VERBOSE:-ERROR}"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="dev.qilletni.docgen" level="${sys:DOCGEN_LOG_LEVEL:-INFO}" additivity="false">
            <AppenderRef ref="ConsoleOut" level="${sys:VERBOSE:-ERROR}"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Root level="${sys:OTHER_LOG_LEVEL:-INFO}">
            <AppenderRef ref="ConsoleOut" level="${sys:VERBOSE:-ERROR}"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>